* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  display: grid;
  grid-template-columns: 0.8fr 1.3fr 0.45fr;
  position: sticky;
  top: 0;
  z-index: 100;
  background: #ffffff;
  border-bottom: 1px solid #EEF0C8;
  box-shadow: 0px 0px 3px 0px;
}
@media screen and (max-width: 420px) {
  nav {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
  }
}
nav img {
  width: 35%;
  padding-left: 90px;
  margin-top: 2px;
}
@media screen and (max-width: 1024px) {
  nav img {
    margin-top: 7px;
  }
}
@media screen and (max-width: 730px) {
  nav img {
    padding-left: 50px;
    margin-top: 9px;
    width: 40%;
  }
}
@media screen and (max-width: 420px) {
  nav img {
    display: none;
  }
}
nav .menu-bar {
  margin-top: -2px;
}
@media screen and (max-width: 1024px) {
  nav .menu-bar {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 730px) {
  nav .menu-bar {
    margin-bottom: 15;
  }
}
nav .menu-bar ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
nav .menu-bar ul li {
  list-style: none;
  margin-top: 17px;
}
nav .menu-bar ul li a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
  text-transform: uppercase;
}
@media screen and (max-width: 1024px) {
  nav .menu-bar ul li a {
    font-size: 18px;
  }
}
@media screen and (max-width: 730px) {
  nav .menu-bar ul li a {
    font-size: 15px;
  }
}
@media screen and (max-width: 420px) {
  nav .menu-bar ul li a {
    font-size: 10px;
    display: flex;
    justify-content: center;
    width: 80px;
  }
}
nav .menu-bar ul li a:hover {
  color: #00B9BE;
  transition: 0.3s;
  font-weight: 520;
}
nav .icons-color {
  font-size: 30px;
  color: teal;
  margin-top: 10px;
}
@media screen and (max-width: 420px) {
  nav .icons-color {
    margin-top: 10px;
    font-size: 20px;
    margin-left: 80px;
  }
}

footer {
  font-size: 20px;
  background: rgba(0, 184, 190, 0.3450980392);
  height: 180px;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 90px;
}
@media screen and (max-width: 730px) {
  footer {
    font-size: 15px;
    padding: 0px 50px;
    height: 150px;
  }
}
@media screen and (max-width: 420px) {
  footer {
    justify-content: center;
    height: 70px;
  }
}
footer .footer-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media screen and (max-width: 420px) {
  footer .footer-left h3 {
    font-size: 15px;
  }
}
footer .footer-left .email {
  display: flex;
  align-items: center;
  gap: 10px;
}
footer .footer-left .email img {
  width: 30px;
}
@media screen and (max-width: 420px) {
  footer .footer-left .email img {
    width: 20px;
  }
}
footer .footer-left .email p {
  margin-top: -5px;
}
@media screen and (max-width: 730px) {
  footer .footer-left .email p {
    font-size: 15px;
  }
}
@media screen and (max-width: 420px) {
  footer .footer-left .email p {
    font-size: 10px;
  }
}
footer .footer-left .phone-call {
  display: flex;
  align-items: center;
  gap: 10px;
}
footer .footer-left .phone-call img {
  width: 38px;
  margin-left: -5px;
}
@media screen and (max-width: 420px) {
  footer .footer-left .phone-call img {
    width: 28px;
  }
}
footer .footer-left .phone-call p {
  margin-top: 2px;
}
@media screen and (max-width: 730px) {
  footer .footer-left .phone-call p {
    font-size: 15px;
  }
}
@media screen and (max-width: 420px) {
  footer .footer-left .phone-call p {
    font-size: 10px;
  }
}
@media screen and (max-width: 420px) {
  footer .footer-left {
    display: none;
  }
}
footer .footer-right h3 {
  text-align: center;
}
@media screen and (max-width: 420px) {
  footer .footer-right h3 {
    font-size: 15px;
  }
}
footer .footer-right .icon {
  padding: 10px;
}
@media screen and (max-width: 420px) {
  footer .footer-right .icon {
    padding: 0px;
  }
}
footer .footer-right .icon img {
  width: 30px;
  margin-left: 15px;
  margin-top: 10px;
}
@media screen and (max-width: 420px) {
  footer .footer-right .icon img {
    width: 20px;
    margin-left: 2px;
  }
}

body header img {
  width: 100%;
}
body .group-book {
  padding: 0px 90px;
}
@media screen and (max-width: 730px) {
  body .group-book {
    padding: 0px 50px;
  }
}
@media screen and (max-width: 420px) {
  body .group-book {
    padding: 0px 20px;
  }
}
body .group-book button {
  height: 30px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  margin-top: 5px;
  background: #EEF0C8;
  padding: 5px;
}
@media screen and (max-width: 730px) {
  body .group-book button {
    font-size: 15px;
  }
}
@media screen and (max-width: 420px) {
  body .group-book button {
    height: 25px;
    font-size: 13px;
  }
}
body .group-book button a {
  text-decoration: none;
  color: #000;
  padding: 5px;
}
@media screen and (max-width: 420px) {
  body .group-book button a {
    padding-bottom: 3px;
  }
}
body .group-book button:hover a:hover {
  background: #00B9BE;
  color: white;
  border-radius: 3px;
  padding: 5px;
}
body .group-book button:nth-child(1) {
  background: #00B9BE;
}
body .search {
  display: flex;
  justify-content: flex-start;
  margin: 50px 90px;
}
@media screen and (max-width: 730px) {
  body .search {
    margin: 20px 50px;
  }
}
body .search input[type=text] {
  background: #EEF0C8;
  width: 40%;
  border-radius: 10px;
  border: none;
  padding: 5px;
  font-size: 15px;
  outline: none;
  box-shadow: 1px 1px 1px 1px rgb(232, 227, 227);
}
@media screen and (max-width: 420px) {
  body .search input[type=text] {
    width: 100%;
    height: 17px;
  }
}
body .search .fa {
  background: #00B9BE;
  width: 50px;
  height: 33px;
  border-radius: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -20px;
  box-shadow: 1px 1px 1px 1px rgb(230, 224, 224);
}
@media screen and (max-width: 420px) {
  body .search .fa {
    height: 27px;
  }
}
body .library {
  background: #00B9BE;
  width: 190px;
  margin-left: 43%;
  border-radius: 0px 10px;
}
@media screen and (max-width: 730px) {
  body .library {
    margin-left: 40%;
  }
}
@media screen and (max-width: 420px) {
  body .library {
    margin-left: 25%;
  }
}
body .library h1 {
  text-align: center;
  color: #000;
}
@media screen and (max-width: 730px) {
  body .library h1 {
    font-size: 20px;
  }
}
@media screen and (max-width: 420px) {
  body .library h1 {
    font-size: 16px;
  }
}
body .library h1:hover {
  color: #ffffff;
}
body h2 {
  color: #00B9BE;
}
@media screen and (max-width: 730px) {
  body h2 {
    font-size: 15px;
  }
}
body p {
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
}
@media screen and (max-width: 420px) {
  body p {
    font-size: 13px;
  }
}
body #education-book, body #Self-Development,
body #General-knowledge,
body #market,
body #cooking,
body #Technology,
body #book-of-legends,
body #financial,
body #leadership {
  margin: 50px 90px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media screen and (max-width: 730px) {
  body #education-book, body #Self-Development,
  body #General-knowledge,
  body #market,
  body #cooking,
  body #Technology,
  body #book-of-legends,
  body #financial,
  body #leadership {
    margin: 20px 50px;
  }
}
@media screen and (max-width: 420px) {
  body #education-book, body #Self-Development,
  body #General-knowledge,
  body #market,
  body #cooking,
  body #Technology,
  body #book-of-legends,
  body #financial,
  body #leadership {
    margin: 30px 20px;
  }
}
body #education-book .books, body #Self-Development .books,
body #General-knowledge .books,
body #market .books,
body #cooking .books,
body #Technology .books,
body #book-of-legends .books,
body #financial .books,
body #leadership .books {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  justify-content: space-between;
}
body #education-book .books .image-card, body #Self-Development .books .image-card,
body #General-knowledge .books .image-card,
body #market .books .image-card,
body #cooking .books .image-card,
body #Technology .books .image-card,
body #book-of-legends .books .image-card,
body #financial .books .image-card,
body #leadership .books .image-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 310px;
  width: 210px;
  border: 1px solid rgb(230, 224, 224);
  border-bottom: 4px solid #00B9BE;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 60px;
}
@media screen and (max-width: 1024px) {
  body #education-book .books .image-card, body #Self-Development .books .image-card,
  body #General-knowledge .books .image-card,
  body #market .books .image-card,
  body #cooking .books .image-card,
  body #Technology .books .image-card,
  body #book-of-legends .books .image-card,
  body #financial .books .image-card,
  body #leadership .books .image-card {
    height: 240px;
    width: 170px;
    margin-right: 30px;
  }
}
@media screen and (max-width: 730px) {
  body #education-book .books .image-card, body #Self-Development .books .image-card,
  body #General-knowledge .books .image-card,
  body #market .books .image-card,
  body #cooking .books .image-card,
  body #Technology .books .image-card,
  body #book-of-legends .books .image-card,
  body #financial .books .image-card,
  body #leadership .books .image-card {
    height: 190px;
    width: 120px;
    margin-right: 30px;
  }
}
@media screen and (max-width: 420px) {
  body #education-book .books .image-card, body #Self-Development .books .image-card,
  body #General-knowledge .books .image-card,
  body #market .books .image-card,
  body #cooking .books .image-card,
  body #Technology .books .image-card,
  body #book-of-legends .books .image-card,
  body #financial .books .image-card,
  body #leadership .books .image-card {
    height: 130px;
    width: 70px;
    margin-right: -10px;
  }
}
body #education-book .books .image-card img, body #Self-Development .books .image-card img,
body #General-knowledge .books .image-card img,
body #market .books .image-card img,
body #cooking .books .image-card img,
body #Technology .books .image-card img,
body #book-of-legends .books .image-card img,
body #financial .books .image-card img,
body #leadership .books .image-card img {
  border: 1px solid #EEF0C8;
  width: 200px;
  height: 255px;
}
@media screen and (max-width: 1024px) {
  body #education-book .books .image-card img, body #Self-Development .books .image-card img,
  body #General-knowledge .books .image-card img,
  body #market .books .image-card img,
  body #cooking .books .image-card img,
  body #Technology .books .image-card img,
  body #book-of-legends .books .image-card img,
  body #financial .books .image-card img,
  body #leadership .books .image-card img {
    width: 150px;
    height: 190px;
  }
}
@media screen and (max-width: 730px) {
  body #education-book .books .image-card img, body #Self-Development .books .image-card img,
  body #General-knowledge .books .image-card img,
  body #market .books .image-card img,
  body #cooking .books .image-card img,
  body #Technology .books .image-card img,
  body #book-of-legends .books .image-card img,
  body #financial .books .image-card img,
  body #leadership .books .image-card img {
    width: 110px;
    height: 150px;
  }
}
@media screen and (max-width: 420px) {
  body #education-book .books .image-card img, body #Self-Development .books .image-card img,
  body #General-knowledge .books .image-card img,
  body #market .books .image-card img,
  body #cooking .books .image-card img,
  body #Technology .books .image-card img,
  body #book-of-legends .books .image-card img,
  body #financial .books .image-card img,
  body #leadership .books .image-card img {
    width: 60px;
    height: 90px;
  }
}
body #education-book .books button, body #Self-Development .books button,
body #General-knowledge .books button,
body #market .books button,
body #cooking .books button,
body #Technology .books button,
body #book-of-legends .books button,
body #financial .books button,
body #leadership .books button {
  width: 130px;
  border-radius: 5px;
  border: 1px solid;
  font-size: 18px;
  height: 25px;
  background: none;
}
@media screen and (max-width: 730px) {
  body #education-book .books button, body #Self-Development .books button,
  body #General-knowledge .books button,
  body #market .books button,
  body #cooking .books button,
  body #Technology .books button,
  body #book-of-legends .books button,
  body #financial .books button,
  body #leadership .books button {
    width: 60px;
    height: 15px;
    font-size: 10px;
    border-radius: 3px;
  }
}
body #education-book .books button a, body #Self-Development .books button a,
body #General-knowledge .books button a,
body #market .books button a,
body #cooking .books button a,
body #Technology .books button a,
body #book-of-legends .books button a,
body #financial .books button a,
body #leadership .books button a {
  text-decoration: none;
}
body #education-book .books .image-card:hover, body #Self-Development .books .image-card:hover,
body #General-knowledge .books .image-card:hover,
body #market .books .image-card:hover,
body #cooking .books .image-card:hover,
body #Technology .books .image-card:hover,
body #book-of-legends .books .image-card:hover,
body #financial .books .image-card:hover,
body #leadership .books .image-card:hover {
  box-shadow: 0px 5px 5px 5px rgb(235, 232, 232);
  transition: 0.3s;
}
body #education-book .books .image-card:hover button, body #Self-Development .books .image-card:hover button,
body #General-knowledge .books .image-card:hover button,
body #market .books .image-card:hover button,
body #cooking .books .image-card:hover button,
body #Technology .books .image-card:hover button,
body #book-of-legends .books .image-card:hover button,
body #financial .books .image-card:hover button,
body #leadership .books .image-card:hover button {
  background: #00B9BE;
  border: none;
  transition: 0.2s;
}
body #education-book .books .image-card:hover button a, body #Self-Development .books .image-card:hover button a,
body #General-knowledge .books .image-card:hover button a,
body #market .books .image-card:hover button a,
body #cooking .books .image-card:hover button a,
body #Technology .books .image-card:hover button a,
body #book-of-legends .books .image-card:hover button a,
body #financial .books .image-card:hover button a,
body #leadership .books .image-card:hover button a {
  color: white;
}/*# sourceMappingURL=books.css.map */